/* TODO: break this sheet down into different files to handle styling per component */

/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  color:rgb(65, 65, 65);
  line-height: 1.5;
  padding: 2rem;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  text-align: center;
}

h1 {
  margin-top: 3rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

/* Styling the container for the white noise player */
.main-container {
  width: 85vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5%;
  padding: 2rem;
  margin-bottom: 3rem;
}

/* -- styling play/pause button -- */
#playButton {
  width: 80%;
  aspect-ratio: 1 / 1;
  padding: 0.75rem;
  border-radius: 50%;
  border: none;
  color: #12b167;
  background-color: #d1f3e4;
}

#playbutton svg {
  width: 60%;
  height: 60%;
}


/* Styles for the volume slider */
#volumeSlider {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  width: 75%;
}

#volumeSlider::-moz-range-track, 
#volumeSlider::-webkit-slider-runnable-track {
  background-color: #12b167;
}

#VolumeSlider::-moz-range-thumb,
#volumeSlider::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border: none;
  background-color: #305c42;
  border-radius: 50%;
  cursor: pointer;
}


/* styles for debug information (slider and gain values) */
.debugInfo {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  margin-bottom: 1.5rem;
  background-color: rgb(204, 204, 204);
}


/* -- styling logic to switch play/pause button -- */
.iconPlay {
  display: inline-block;
  transform: translatex(8px);

}

.iconPause {
  display: none;
}

.playing .iconPlay {
  display: none;
}

.playing .iconPause {
  display: inline-block;
}

/* style footer */
footer {
  text-align: center;
  margin-top: auto;
}